.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  display: flex;
  justify-content: center;
  background-color: rgba(239, 239, 239, 1);

}

.Entrance{
  position: absolute;
  bottom: 5vh;
  color: white;
}

.Enter{
  color : black;
  font-weight: bold;
  font-size: 1.5em;
}

.ResponsiveBackground{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  @media (min-width: 480px) {
    width: 480px;
  }
  @media (max-width: 480px) {
    width: 100vw;
  }
  font-family: 'Noto Sans KR', sans-serif;
}

.ResponsiveBackground ::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.story{
  font-weight: bold;
}

.StoryContentDiv{
  width: 100%;
  /* // height: 328px; */
  min-height: 20vh;
  /* // background: linear-gradient(to bottom, #fff, rgba(26, 227, 204, 1)); */
  word-break: break-all;
  /* // padding: 1%; */
  font-size: 20px;
  overflow-y: scroll;
  margin: 0px;
  padding-bottom: 1vh;
  padding-top: 1vh;

  /* border-right: 1px solid rgb(0,0,0, 0.1);
  border-left: 1px solid rgb(0,0,0, 0.1); */

  /* box-shadow: 0px 2.98256px 7.4564px 2.98256px rgba(0, 0, 0, 0.1); */
}

.StoryContentDiv::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.StoryListDiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;

  /* box-shadow: 0px 2.98256px 7.4564px 2.98256px rgba(0, 0, 0, 0.1); */
}

.StoryListDiv::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.sliding{
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  height: 100%;
}

.slidingItem{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin:0 auto;
  /* background-color: black; */
  /* opacity: 0.9; */


  background-size:cover;
  /* display: block; */
  color:black;
  text-align: center;
  font-size: 100px;

  position: relative;
}

.logoItem{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin:0 auto;
  background-color: rgba(31, 28, 31, 0.9);
  /* opacity: 0.9; */


  background-size:cover;
  /* display: block; */
  color:black;
  text-align: center;
  font-size: 100px;

  position: relative;
}

.slide-img{
  width:100%;
  height:100%;
  object-fit:fit;
  position: relative;
  filter: brightness(35%);
  opacity: 0.9;

  /* vertical-align: middle; */
}

.logo-img{
  width:100%;
  height:100%;
  object-fit:none;
  position: relative;
  top: -5vh;

  /* vertical-align: middle; */
}

.slide-txt{
    position: absolute;
    top: 65%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  font-size: 0.18em;
  text-align: center;
  color: white;
  font-weight: 250;
  line-height: 1.5; 
  font-family: 'Noto Sans KR', sans-serif;

}

.slide-chapter{
    position: absolute;
    top: 15%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  font-size: 0.29em;
  text-align: center;
  color: white;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;

}

.logo-txt{
    position: absolute;
    top: 55vh;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  font-size: 0.25em;
  text-align: center;
  color: rgba(129,216,207);
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;

}

.chapter-img{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
}